<nav>
    <div class="main-nav">
        <div class="navleft-half">
            <div>
                <a routerLink="">
                    <img src="assets/images/logo.png" alt="logo">
                </a>
            </div>
            <div class="logo-text">
                <img src="assets/images/Vector.svg" alt="logo-text">
            </div>
            <ul class="nav-items-container">
                <li class="nav-items">
                    Home
                </li>
                <li class="nav-items nav-dropdown-container">
                    <a href="">
                        Products
                        <img class="rotate-icon" src="assets/images/arrow-icon.svg" alt="">
                    </a>
                    <ul class="dropdown-items-container">
                        <li class="nav-dropdown-items">
                            offers
                        </li>
                        <li class="nav-dropdown-items">
                            services
                        </li>
                        <li class="nav-dropdown-items">
                            discounts
                        </li>
                    </ul>
                </li>
                <li class="nav-items nav-dropdown-container">
                    <a href="">
                        Resources
                        <img class="rotate-icon" src="assets/images/arrow-icon.svg" alt="">
                    </a>
                    <ul class="dropdown-items-container">
                        <li class="nav-dropdown-items">
                            offers
                        </li>
                        <li class="nav-dropdown-items">
                            services
                        </li>
                        <li class="nav-dropdown-items">
                            discounts
                        </li>
                    </ul>
                </li>
                <li class="nav-items ">
                    Pricing
                </li>
            </ul>
        </div>
        <div class="navright-half">
            <a routerLink="/" class=" md semibold button-login">
                Login
            </a>
            <a routerLink="/signup" class="btn button-primary md semibold">
                Sign Up
            </a>
        </div>


        <div class="hamburger">
            <img src="assets/images/Icon.svg" alt="icon">
        </div>
    </div>



</nav>


