<app-navbar></app-navbar>

<main>
    <div class="container">
        <div class="card">

            <header class="header lft-align">
                <div class="logo ">
                    <img src="assets/images/logo-large.png" alt="logo">
                </div>
                <div class="heading  semibold">
                    Sign Up
                </div>
                <div class="sub-heading  regular md">
                    Start your 30-day free trial.
                </div>
            </header>

            <div class="form">
                <form class="form-container" action="" id="form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">

                    <div class="input-container">
                        <label class="label " for="name">
                            Name*
                        </label>
                        <input class="input-box md regular" type="text" id="name" name="name"
                            placeholder="Enter your name" formControlName="Name" required>
                            <div *ngIf="signupForm.controls.Name.invalid && signupForm.controls.Name.touched" class="error-message">
                                name is required.
                              </div>
                    </div>
                    <div class="input-container">
                        <label class="label" for="email">
                            Email*
                        </label>
                        <input class="input-box md regular" type="email" id="email" name="email" formControlName="email" required
                            placeholder="Enter your email">
                            <div *ngIf="signupForm.controls.email.invalid && signupForm.controls.email.touched" class="error-message">
                                Email is required and must be a valid email address.
                              </div>
                    </div>
                    <div class="input-container">
                        <label class="label" for="password">
                            Password*
                        </label>
                        <input class="input-box" type="password" id="password" name="password" formControlName="password" required
                            placeholder="••••••••">
                            <div *ngIf="signupForm.controls.password.invalid && signupForm.controls.password.touched" class="error-message">
                                Password is required and must be at least 6 characters long.
                              </div>
                    </div>
                    <div class="input-container">
                        <label class="label" for="c-password" >
                            Confirm Password*
                        </label>
                        <input class="input-box" type="password" id="c-password" name="password" formControlName="confirmPassword" required
                            placeholder="••••••••">
                            <div *ngIf="signupForm.hasError('passwordMismatch') && signupForm.controls.confirmPassword.touched" class="error-message">
                                Passwords do not match.
                              </div>
                    </div>
                    <div class="input-container">
                        <label class="label" for="date">
                            Date of Birth*
                        </label>
                        <input class="input-box md regular" type="date" id="date" name="date">
                    </div>
                    <div class="input-container sm medium">
                        Gender*
                        <div class="radio-container" id="">
                            <div class="radio-items">
                                <label for="gender">
                                    Male
                                </label>
                                <input type="radio" id="male" name="gender" value="Male">
                            </div>
                            <div class="radio-items">
                                <label for="female">
                                    Female
                                </label>
                                <input type="radio" id="female" name="gender" value="female">
                            </div>
                            <div class="radio-items">
                                <label for="other">
                                    Other
                                </label>
                                <input type="radio" id="other" name="gender" value="other">
                            </div>
                        </div>
                    </div>

                    <div class="input-container">
                        <label class="label" for="description">
                            Description*
                        </label>
                        <textarea class="input-box description-box md regular" type="" id="description" name="email"
                            placeholder="Enter Description">
                    </textarea>
                    </div>
                    <div class="input-container">
                        <label class="label" for=" city">
                            City*
                        </label>
                        <select class="input-box" name="city" id="city">
                            <option value="Kathmandu">
                                Kathmandu
                            </option>
                            <option value="Lalitpur">
                                Lalitpur
                            </option>
                            <option value="Bhaktapur">
                                Bhaktapur
                            </option>
                            <option value="Dhulikhel">
                                Dhulikhel
                            </option>
                        </select>
                    </div>

                    <div class="checkbox-container" action="">

                        <div class="checkbox-lefthalf">
                            <input type="checkbox" id="check" name="30days">
                            <label class="checkbox-text sm medium " for="check">
                                Remember for 30 days
                            </label>
                        </div>

                        <a class="checkbox-righthalf sm semibold" href="forgot">
                            Forgot Password
                        </a>
                    </div>

                    <button class="btn button-primary md semibold" style="  width: 100%;" type="submit"  >
                        Sign Up
                    </button>

                </form>

                <button class="btn button-secondary md semibold ">
                    <img src="assets/images/Social icon.png" alt="google-logo">
                    Sign in with Google
                </button>

                <div class="bottom-text sm regular">
                    Already have an account?
                    <a href="login.html" class="sm semibold">
                        Login In
                    </a>
                </div>
            </div>

        </div>
    </div>
</main>

<footer>
    <div class="leftfooter sm regular">
        © Untitled UI 2077
    </div>
    <div class="rightfooter sm regular">
        <img src="assets/images/mailicon.png" alt="">
        help@untitledui.com
    </div>
</footer>
